body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.nav-link:hover a,
.nav-link:focus a {
  color: #404bbf;
}
.address:hover a,
.address:focus a {
  color: ##404bbf;
}
